# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
.env*

# firebase
firebase-debug.log
firestore-debug.log
firebase.json
firebase.rules
firestore.rules
firebase-admin-key.json

#bhuvan
bhuvan_capabilities.xml
get_bhuvan_caps.js
get_bhuvan_legend.js
get_capabilities.xml
wasteland_legend.json

/Regulations doc
/implementing vector rag.md
/rules zip
__db_compliance-rag.json

/Scripts
map-editor.tsx.backup

GRIHA TABLE OF CONTENTS.md
IGBC TABLE OF CONTENT.md
LEED TABLE OF CONTENT.md
Logic & Methodology for Calculating Maxi.md
pendings.txt
implementation_plan.md.resolved
vastu.txt
typecheck_log.txt
typecheck_log_2.txt
typecheck_log_3.txt
implementation_plan.md
Implementation Plan - Advanced Feasibi.txt
CLIENT INPUTS.md
Implementation Plan - Additional Typologies & KPIs.md
Debugging Extraction and Saving.md
dashboard_and_admin_enhancement_plan.md.resolved
fix_h_shape.py
scripts/
inject_fixes.py
update_strategies.py
tmp_debug.txt
fix_slab_gen.py
implementation_plan Topologies.md.resolved
temp_old_geometric.ts
investigating ratio controls.md
visualizing simulation consistency.md
Utility size calculation.md
clean_analysis.md.resolved
debug_log.txt
fixing scenario Generation.md
cost calculations.md
standard timeline.md
utility size calculation and space alloc.md
fixing map interactions.md
Auditing Calculation Logic.md
calculation_logic.md
Refining Setback Logic.md
Fixing Green Area Overlap.md
amrut_caps.xml
bhuvan_available_districts.json
bhuvan_caps_bhuvan.xml
bhuvan_districts_raw.json
bhuvan_extracted_districts.json
bhuvan_layers.txt
building-calc.tsx
out.txt
sisdp_vec1_layers.txt
src/hooks/use-building-store.ts.new.ts
src/hooks/use-building-store.ts.ring.ts
wms_bhuvan.xml

/xcost and time

green_credits_dump.txt

PHASE 1.2.md
temp_braces.txt
tmp/
Feasibility report.pdf
pdf-extracted-full-utf8.txt
pdf-extracted-full.txt
temp-update.txt
client_proposal.md.resolved
UNDERWRITING & RISK ASSESSMENT REPORT.txt
